<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>QUẢN LÝ VẬT TƯ</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles1.css" rel="stylesheet" />
        <style>
            .font {
                font-size: 32px;
            }
            .navbar{
                padding-bottom: 0.7rem;
            }
        </style>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">QUẢN LÝ VẬT TƯ</div>
                <div class="list-group list-group-flush font-we">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/nhacungcaps">Nhà cung cấp</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/hanghoas">Hàng hoá</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/hoadonnhaps">Phiếu nhập</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" style="background-color: #e5e5e5;" href="/hoadonxuats">Phiếu xuất</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/khos">Kho</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/loaihangs">Loại hàng</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/hoadonnhaps/thongke">Thống kê</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/nhanviens">Nhân viên</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/khachhangs">Khách hàng</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/taikhoans">Tài khoản</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/taikhoans/infor">Thông tin</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/taikhoans/edit">Đổi mật khẩu</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 main-menu" href="/taikhoans/logout">Đăng xuất</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">

                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <b class="font mt-2 ml-2">CẬP NHẬT HOÁ ĐƠN NHẬP</b>
                    <form class="ml-4 mt-1" action="/hoadonxuats/{{hoadonxuats.maHDX}}?_method=PUT" method="POST" id ="editform">
                        <div class="form-group">
                          <label for="name">Kho</label>
                          <select name="maKho" form="editform">
                        {{#each khos}}
                            <option value="{{this.maKho}}">{{this.tenKho}}</option>
                        {{/each}}
                        </select>
                        </div>

                        <div class="form-group">
                          <label for="name">Khách hàng</label>
                          <select name="maKH" form="editform">
                        {{#each khachhangs}}
                            <option value="{{this.maKH}}">{{this.tenKH}}</option>
                        {{/each}}
                        </select>
                        </div>

                        <div class="form-group">
                          <label for="name">Nhân viên</label>
                          <select name="maNV" form="editform">
                        {{#each nhanviens}}
                            <option value="{{this.maNV}}">{{this.tenNV}}</option>
                        {{/each}}
                        </select>
                        </div>


                        <div class="form-group">
                          <label for="name">Ngày lập</label>
                          <input type="text" class="form-control" value="{{hoadonxuats.ngayLapHDX}}" required="true" name="ngayLapHDN" id="ngayLapHDN"  placeholder="Ngày lập">
                        </div>
                        {{#if hoadonxuats.status}}
                                <div class="form-group">
                                <label for="name">Trạng thái:</label>
                                <input checked="true" class="ml-2" type="radio" required="true" id="age1" name="status" value="1">
                                <label for="age1">Đã thanh toán</label>
                                <input type="radio" id="age2" required="true" name="status" value="0">
                                <label for="age2">Chưa thanh toán</label>
                            </div>
                        {{else}}
                                <div class="form-group">
                                <label for="name">Trạng thái:</label>
                                <input class="ml-2" type="radio" required="true" id="age1" name="status" value="1">
                                <label for="age1">Đã thanh toán</label>
                                <input checked="true" type="radio" required="true" id="age2" name="status" value="0">
                                <label for="age2">Chưa thanh toán</label>
                            </div>
                        {{/if}}
                        
                        <button type="submit" class="btn btn-primary mt-2">Lưu lại</button>
                      </form>
                      
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
